/While.class
/For.class
/For_Exemplo.class
/For_Execucao.class
/ForImpares.class
/ForIntervalo.class
/MediaPonderada.class
/DivisaoDenominadores.class
/uri1116.class
/Fatorial.class
/Divisores.class
/Expoentes.class
/DoWhile.class
/FuncoesString.class
/OperacaoSplit.class
/OperadoresBitwase.class
